<!--[if IE]>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<style>
 .chromeFrameInstallDefaultStyle {
   width: 100%; /* default is 800px */
   border: 5px solid blue;
 }
</style>
<div id="prompt">
Sorry! SAYCBridge.com does not work in Internet Explorer without the <a href="https://google.com/chromeframe">Google Chrome Frame</a> plugin.<p>
However <a href="http://google.com/chrome">Chrome</a>, <a href="http://www.getfirefox.net">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a> or <a href="http://www.opera.com/browser">Opera</a> browsers should work just fine!
</div>
<script>
 // The conditional ensures that this code will only execute in IE,
 // Therefore we can use the IE-specific attachEvent without worry
 window.attachEvent("onload", function() {
   CFInstall.check({
     mode: "inline", // the default
     node: "prompt"
   });
 });
</script>
<![endif]-->
